{% extends "pages/base.html" %}
{% block title %}{{user.user_name}} Profile{% endblock %}
{% block body %}
{% csrf_token %}
<div class="row my-3">
    <div class="col-12">
        {% if message %}
                <div class="alert alert-danger alert-dismissible">
                    {{ message }}
                    <button type="button" data-dismiss="alert" class="close">&times;</button>
                </div>
        {% endif %}
    </div>
</div>
<div class="text-white mx-5 md:mx-20">
  <div class="gap-4 md:flex flex-row">
    <div class="bg-brand-card bg-opacity-20 rounded-3xl text-center px-10 py-5">
      <img class="mx-auto nav-profile-image w-20 h-20" width="100px" height="100px" src="{{user.profile.profile_pic.url}}" alt="{{user.user_name}} profile picture">
      <h5 class="mt-3">{{user.user_name}}</h5>
      <h6 class="mt-1">{{user.email}}</h6>
      <div class="mx-auto mt-3 w-60">
        <h5>About</h5>
        <!-- <p>{{user.profile.bio}}</p> -->
        <p class="text-brand-textColor2 text-sm">{{user.profile.bio}}</p>
      </div>
    </div>
    <div class="mt-5 md:mt-0 flex flex-col flex-grow justify-between bg-brand-card bg-opacity-20 rounded-3xl px-10 py-5">
      <div>
        <h6 class="mb-2 text-primary text-lg font-bold">Personal info</h6>
        <div class="flex">
          <label for="fullName">Fullname:</label>
          <p class="mx-3">{{user.first_name}} {{user.last_name}}</p>
        </div>
        <div class="flex">
          <label for="fullName">National ID:</label>
          <p class="mx-3">{{user.profile.national_id}}</p>
        </div>
        <div class="flex">
          <label for="phone">Phone Number:</label>
          <p class="mx-3">{{user.phone_number}}</p>
        </div>
        <div class="flex">
          <label for="phone">Address:</label>
          <address class="mx-3">{{user.profile.address}}</address>
        </div>
      </div>
      <div class="flex">
        <a class="bg-green-800 py-2 px-3 mr-2 rounded-sm" href="{% url 'editprofile' %}">Edit Profile</a>
        <a class="bg-blue-800 py-2 px-3 mr-2 rounded-sm" href="{% url 'create_gig' %}">New Gig</a>
      </div>
      
    </div>
  </div>
  <div class="md:flex mt-5">
    <div class="mx-3 flex-grow">
      <h6 class="mt-3 mb-2 text-primary">Your Gigs</h6>
      <hr>
      <div class="">
        {% for gig in user_gig %}
        <div class="flex justify-between px-2 py-3 mt-3 bg-brand-card bg-opacity-20 rounded-lg">
          <h4 class="text-lg font-bold">{{gig.title}}</h4>
          <div class="flex">
            <h4 class="text-lg font-bold">{{gig.category}}</h4>
            <h4 class="text-lg font-bold">{{gig.sub_category}}</h4>
			<a href="{% url 'gig_info' gig.id %}"> detailes >> </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="mx-3 flex-grow">
      <h6 class="mt-3 mb-2 text-primary">Messages</h6>
      <hr>
      <div class="">
        {% for gig in user_gig %}
        <div class="flex justify-between px-2 py-3 mt-3 bg-brand-card bg-opacity-20 rounded-lg">
          <h4 class="text-lg font-bold">{{gig.title}}</h4>
          <div class="flex">
            <h4 class="text-lg font-bold">{{gig.category}}</h4>
            <h4 class="text-lg font-bold">{{gig.sub_category}}</h4>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
		
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Pending Orders</h6>
				<hr>
			</div>
			<div class='container row' style="margin:auto">
				<div class="row">
					{% for order in orders %}
						{% if order.state == 2 %}
					<div class="col mb-4">
					<div class="card border">
						<div class="card-body">
							<h5 class="card-title">{{order.gig.title}}</h5>
							<p class="card-text">{{order.order_message}}</p>
							<h6>price offer : {{order.price_offer}}$<h6>
							<p>For : {{order.customer.user_name}}<p>
							<p>Deadline : {{order.deadline}}<p>
							<p>Status : {{order.get_state_display}}<p>
							{% if order.file_example %}
								<p class="card-title"> Example : <a class="badge badge-info" href="{{order.file_example.url}}">Download &#11147;</a></p>
							{% endif %}
							<button type="submit" class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' onclick="$.ajax({type: 'POST',url: '{% url 'profile' %}',data: {'id' : {{order.id}}, 'act':'accept'}});">Accept</button>
							<button type="submit" class='bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' onclick="$.ajax({type: 'POST',url: '{% url 'profile' %}',data: {'id' : {{order.id}}, 'act':'decline'}});">Decline</button>
						</div> 
					</div>
					</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Accepted Orders</h6>
				<hr>
			</div>
			<div class='container row' style="margin:auto">
				<div class="row">
					{% for order in orders %}
						{% if order.state == 1 %}
					<div class="col mb-4">
					<div class="card border">
						<div class="card-body">
							<h5 class="card-title">{{order.gig.title}}</h5>
							<p class="card-text">{{order.order_message}}</p>
							<h6>price offer : {{order.price_offer}}$<h6>
							<p>For : {{order.customer.user_name}}<p>
							<p>Deadline : {{order.deadline}}<p>
							<p>Status : {{order.get_state_display}}<p>
							{% if order.file_example %}
								<p class="card-title"> Example : <a class="badge badge-info" href="{{order.file_example.url}}">Download &#11147;</a></p>
							{% endif %}
							<a class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' href="{% url 'deliver' %}?order={{order.id}}">Deliver</a>
						</div>
					</div>
					</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		<div class="row gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<h6 class="mt-3 mb-2 text-primary">Your Orders</h6>
				<hr>
			</div>
			<div class='container row' style="margin:auto">
				<div class="row">
					{% for order in orders %}
						{% if order.customer == user %}
					<div class="col mb-4">
					<div class="card border">
						<div class="card-body">
							<h5 class="card-title">{{order.gig.title}}</h5>
							<p class="card-text">{{order.order_message}}</p>
							<h6>price offer : {{order.price_offer}}$<h6>
							<p>For : {{order.customer.user_name}}<p>
							<p>Deadline : {{order.deadline}}<p>
							<p>Status : {{order.get_state_display}}<p>
							{% if order.file_example %}
								<p class="card-title"> Example : <a class="badge badge-info" href="{{order.file_example.url}}">Download &#11147;</a></p>
							{% endif %}
						</div>
					</div>
					</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
<div>

{% endblock %}