{% extends "pages/base.html" %}
{% block title %}Meydoon - Freelancing Platform{% endblock %}
{% block body %}
    <h3 class="display-4 container" > Who We Are? </h3>
    <br>
    <p class='h1 container'>Mahan Farzaneh</p>
    <br>
    <p class='h5 container'>The Project manager and the guy who know all the shit</p>
    <br>
    <p class='h1 container'>Hamzeh Mahmoudi</p>
    <br>
    <p class='h5 container'>The guy who write complex and messy code , (This guy made mahan amazed once)</p>

{%  endblock %}