{% load static %}
<!DOCTYPE html>
<html id="master">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/d6eba2497b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tailwind.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pages/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'pages/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'pages/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#F5F5F5">
    {% block head %}{% endblock %}
    <title>{% block title %}Meydoon{% endblock %}</title>
  </head>
  <body class="bg-brand-background dark:bg-brand-background-dark" onload="onload()">
    <div class="md:mx-20 mt-5">
      <nav class="flex items-center justify-between text-brand-textColor3 dark:text-white px-5">
        <div class="flex items-center">
          <img src="{% static 'pages/fav/apple-touch-icon.png' %}" width="35" height="35" class="mx-1" alt="">
          <a href="{% url 'index' %}" class="text-lg text-center font-semibold tracking-widest text-gray-900 uppercase rounded-lg dark:text-white focus:outline-none focus:shadow-outline">Meydoon</a>
          <div class="hidden lg:block ml-4">
            <a href="{% url 'index' %}" class="mx-1 px-2 py-2 text-sm text-brand-textColor3 dark:text-brand-textColor1 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full">Dashboard</a>
            <a href="{% url 'gig_index' %}" class="mx-1 px-2 py-2 text-sm text-brand-textColor3 dark:text-brand-textColor1 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full">Gigs</a>
            <a href="#" class="mx-1 px-2 py-2 text-sm text-brand-textColor3 dark:text-brand-textColor1 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full">Categories &#129131;</a>
            <a href="{% url 'about' %}" class="mx-1 px-2 py-2 text-sm text-brand-textColor3 dark:text-brand-textColor1 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full">Support</a>
            <a href="{% url 'about' %}" class="mx-1 px-2 py-2 text-sm text-brand-textColor3 dark:text-brand-textColor1 hover:bg-gray-300 dark:hover:bg-gray-600 rounded-full">About</a>
          </div>
        </div>
        <button class="block lg:hidden"><i class="fas fa-bars"></i></button>
        <div class="hidden lg:flex">
          <div class="flex items-center">
            <i id="ThemeToggle"class="fas fa-toggle-on text-2xl" style="color:#333333;" onclick="changeTheme()"></i>
            {% if user.is_authenticated %}
              <a href="{% url 'profile' %}">
                <img class="mx-1 p-1 nav-profile-image w-10 h-10" 
                src="{{user.profile.profile_pic.url}}" 
                alt="Profile image" width="40px" height="40px">
              </a>
              <a class="mx-1 px-1 text-sm" href="#"> {{user.wallet.amount}} $</a>
              <a class="mx-1 px-1 text-sm" href="{% url 'logout' %}">Logout</a>
            {% else %}
              <a class="mx-1 px-1 text-sm" href="{% url 'login' %}">Login</a>
              <a class="mx-1 px-4 text-sm py-2 bg-blue-600 rounded-full" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </nav>
    </div>
    {% block body %}
    {% endblock %}
    <footer class="mt-10">
      <!-- Copyright -->
      <div class="text-center p-3 text-gray-600 dark:text-gray-300" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{year}} Copyright
        <a class="text-black dark:text-white" href="https://github.com/mahanfarzaneh2000/Meydoon"> Meydoon </a>
      </div>
    </footer>
    <script>
      var is_dark = 0;
      var property = document.getElementById('ThemeToggle');
      var masterHtml = document.getElementById('master');
      
      function onload(){
        if (localStorage.getItem('darkTheme')) {
            is_dark = localStorage.getItem('darkTheme');
        }
        if (is_dark == 1){
          property.style.color = "#EEEEEE";
          property.className = "fas fa-toggle-off text-2xl";
          masterHtml.className = "dark";
          is_dark = 1;
        }else{
          property.style.color = "#333333";
          property.className = "fas fa-toggle-on text-2xl";
          masterHtml.className = "";
          is_dark = 0;
        }
      }
      
      function changeTheme() {
        if (is_dark == 0) {
          property.style.color = "#EEEEEE"
          property.className = "fas fa-toggle-off text-2xl"
          masterHtml.className = "dark"
          is_dark = 1;        
          localStorage.setItem('darkTheme', is_dark);
        }
        else {
          property.style.color = "#333333"
          property.className = "fas fa-toggle-on text-2xl"
          masterHtml.className = ""
          is_dark = 0;
          localStorage.setItem('darkTheme', is_dark);
        }
      }
    </script>
  </body>
  
</html>