{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pages/fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/fav/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'pages/fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'pages/fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    {% block head %}{% endblock %}
    <title>{% block title %}Meydoon{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">
        <img src="{% static 'pages/fav/apple-touch-icon.png' %}" width="35" height="35" class="d-inline-block align-top" alt="">
        Meydoon
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gig_index' %}">Gigs<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for category in categories %}
                <a class="dropdown-item" href="{% url 'category' category.id %}">{{category.name}}</a>
              {% endfor %}
            </div>
          </li>
        </ul>
        {% if user.is_authenticated %}
          <ul class="navbar-nav my-2 mr-5 my-lg-0">
            <li class="nav-item">
              <a href="{% url  'profile'%}"><img class="nav-profile-image rounded-circle" src="{{user.profile.profile_pic.url}}" alt="media/profile_pics/default.jpg" width="40px" height="40px"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href=""> {{user.wallet.amount}} $</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav my-2 mr-5 my-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    <footer class="bg-dark text-center text-white footer">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
            ><i class="bi bi-twitter rounded"></i
          ></a>
  
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
            ><i class="bi bi-google rounded-circle"></i
          ></a>
  
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
            ><i class="bi bi-instagram "></i
          ></a>
  
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1 rounded-circle" href="#!" role="button"
            ><i class="bi bi-linkedin"></i
          ></a>
  
          <!-- Github -->
          <a class="btn btn-outline-light rounded-circle" href="https://github.com/HamzehMahmoudi/Meydoon" role="button"
            ><i class="bi-github " role="img" aria-label="GitHub"></i
          ></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © {{year}} Copyright
        <a class="text-white" href="https://github.com/mahanfarzaneh2000/Meydoon"> Meydoon </a>
      </div>
    </footer>
  </body>
</html>