{% extends "pages/base.html" %}
{% block title %}Gigs{% endblock %}
{% block body %}
<div class='mt-5 lg:grid grid-cols-2 xl:grid-cols-3 gap-3 mx-10'>
  {% for gig  in gigs  %}
  <div class="bg-brand-card mb-3 p-4 rounded-md">
    <div class="flex">
      <img class="w-6/12" src="{{gig.get_showcase.url}}" alt="" style="height: 150px;object-fit: cover;">
      <div class="flex flex-col justify-between px-3 flex-grow">
        <div class="">
          <div class="flex items-center space-x-2 mb-2">
            <img class="rounded-full" src="{{gig.user.profile.profile_pic.url}}" alt="" style="width:35px; height: 35px; object-fit: cover;">
            <p class="font-thin">{{gig.user.user_name}}</p>
          </div>
          <h3 class="font-serif text-lg">{{gig.title}}</h3>
          <h4 class="opacity-60 text-sm">{{gig.description}}</h4>
        </div>
      </div>   
    </div>
       
    <div class="flex mt-2 justify-between items-center">
      <div>
        <small class="ml-1">{{gig.category}}</small>
        <small class="ml-1">{{gig.sub_category}}</small>
      </div>
      <div class="">
        <a class="ml-1" href="#"><i class="fas fa-bell"></i></a>
        <a class="ml-1" href="#"><i class="fas fa-bell"></i></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}