{% extends "pages/base.html" %}
{% block head %}
<script src="https://kit.fontawesome.com/d6eba2497b.js" crossorigin="anonymous"></script>
{% endblock %}
{% block title %}{{gig}}{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

<div class="mx-8 mt-10">
  
  <!-- Info -->
  <div>
    <p class="text-center text-2xl mb-4">{{object.title}}</p>
    <div class="mx-auto mb-3 w-10/12 p-5 bg-brand-card rounded-md">
      <p>{{object.description}}</p>
    </div>
    <div class="mx-auto">
        <div class="mx-auto">
          <img src="{{photo.first.image.url}}" class="mx-auto" style="width: 50%;">
        </div>
    </div>
  </div>
  <!-- Info -->

  <!--Plans-->
  <div class="flex mt-10">
    <div class="mx-auto grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
      {% for plan in object.plan_set.all %}
        <div class="relative bg-white py-6 px-6 rounded-3xl w-64 my-4 shadow-xl">
          <div class="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-pink-500 left-4 -top-6">
            <!-- svg  -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 18h.01M8 21h8a2 2 0 002-2V5a2 2 0 00-2-2H8a2 2 0 00-2 2v14a2 2 0 002 2z" />
            </svg>
          </div>
          <div class="mt-8">
            <p class="text-xl font-semibold my-2">{{plan.title}}</p>
            <div class="flex space-x-2 text-black-400 text-sm">
              <p>{{plan.feature_list}}</p>
            </div>
            <div class="flex space-x-2 text-gray-400 text-sm my-3">
              <p>owner : {{plan.gig.user.user_name}}</p>
            </div>
            <div class="border-t-2"></div>

            <div class="flex justify-between">
              <div class="my-2">
                <p class="font-semibold text-base mb-2">Price:</p>
                <div class="text-base text-gray-400 font-semibold">
                  <p>{{plan.price}} $</p>
                </div>
              </div>
            </div>
            <div class="my-2">
              <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" href="{% url 'order' %}?plan={{plan.id}}&gig={{plan.gig.id}}">Order</a>
              {% if user == plan.gig.user %} <a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" href="{% url 'edit_plan' plan.id %}">Edit</a>{% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
  </div>
  <!--Plans-->
  
  <!--Comments-->
  <div class="mx-10">
    <h1 class="text-xl font-semibold">Comments</h1>
    {% for comment in object.comment_set.all %}
        {% if comment.is_approved %}
          <div class="bg-brand-card rounded-md w-80 my-4">
            <h5 class="bg-white text-lg font-serif">{{comment.user.user_name}}</h3>
            <p class="font-bold">{{comment.title}}<p>
            <h6>{{comment.body}}</h5>
          </div>
        {% endif %}
    {% endfor %}
    <hr>
    {% for comment in object.comment_set.all %}
        {% if not comment.is_approved and user == object.user%}
        <div>
          <h5>{{comment.title}}</h3>
          <h6>{{comment.body}}</h5>
          <p>{{comment.user.user_name}}<p>
          <p> <p class="badge badge-danger">new</p>  you have to confirm this <p>
          <button type="submit" class='bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' onclick="approve({{comment.id}},{{comment.gig.id}})">Approve</button>
        </div>
        {% endif %}
    {% endfor %}
    <!--Add Comment-->
    {% if user.is_authenticated %}
      <h1>Write a comment</h1>
      <a href="{% url 'add_comment' %}?gig={{object.id}}">add</a>
    {% else %}
      <p>You have to <a href="{% url 'login' %}?next_page={{request.path}}">login<a> to your account first<p>   
    {% endif %}
  </div>
  <!-- Comments -->
</div>
<script>
  function showCreatePlanCard() {
    var x = document.getElementById("CreatePlanCard");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
  function showAddImageCard() {
    var x = document.getElementById("AddImageCard");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
{% endblock %}